<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Dancesys</title>
</head>
<body style="background-color: #FFECDC; font-family: Arial, sans-serif; padding: 0; margin: 0;">

<!-- Cabeçalho -->
<div style="background-color: #55371F; padding: 10px 25px;">
    <h1 style="color: #FFECDC; font-size: 32px; font-weight: 500; margin: 0;">Dancesys</h1>
</div>

<!-- Conteúdo -->
<div style="margin: 25px;">
    <h3 style="color: #55371F; margin-bottom: 15px;">Bem-vindo, sua conta foi criada. Acesse seu perfil e altere sua senha.</h3>

    <p><strong style="color: #55371F;">Usuário:</strong> ${user}</p>
    <p><strong style="color: #55371F;">Senha:</strong> ${pass}</p>
</div>

</body>
</html>
